<html>
<head>
    <title>Mean Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/custom.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io();
        $(window).on("load",function(){
            socket.emit('new_user',{_id:'<%=session.passport.user._id%>'});
        });
    </script>
</head>
<body>
<% include templates/header_auth.ejs %>
<div class="container-fluid container">
    <div id="search_box" align="center">
        <form method="post" action="/search" class="form-group">
            <input type="text" name="search_friends" required placeholder="Search friends" style="width: 60%; border-color: #00B7FF; border-width: 4; border-style: solid">
            <input type="submit" class="btn-primary" value="Search" >
        </form>
    </div>
    <%if(docs.length==0){%>
        <div class="alert alert-info">No users found</div>
    <%}else{%>
    <table CLASS="table table-responsive">
        <tr><th>Username</th><th>First Name</th><th>Last Name</th></tr>
    <%docs.forEach(function(item,index){%>
        <tr><td><%=item.username%></td><td><%=item.fname%></td><td><%=item.lname%></td></tr>
    <%})%>
    </table>
    <%}%>
</div>
</body>
</html>